body {
	padding-top: 70px;
}

.body {
	border: 1px solid blue;
}

.footer {
	background-color: #222222;
	margin-top: 50px;
	padding: 50px 0;
}

/*===================================
	RESET SLIDER SETTINGS
=====================================*/

.bx-wrapper {
    margin: 0;
    margin-bottom: 30px;
}

.bx-wrapper .bx-viewport {
    border: none;
	left: 0;
	box-shadow: 0 0 0;
	background-color: transparent;
}

.carousel {
	margin: 0;
	padding: 0;
}