body{
	background: url(bg.jpg);
	position: relative;
}
.button:focus {
	outline: none;
	color: rgba(254,255,255,0.9) !important;
	text-shadow: rgba(0,0,0,0.2) 0 1px 2px;
}

.wrapper_button{
	position: fixed;
	right: 10px;
	top: 150px;
	z-index: 99999;
}
.wrapper_content{
	display: none;
	width: 170px;
	position: fixed;
	right: 10px;
	top: 200px;
	z-index: 99999;
}
.wrapper_content form {
	vertical-align: bottom;
}
.wrapper_content form input{
	width: 170px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #ABBFDB;
	font-family: 'Indie Flower', sans-serif;
}
.wrapper_content form input:focus{
	outline: 0;
}
.body{
	word-wrap: break-word;
}
.chat-time{
	font-size: 10px;
	font-style: italic;
	margin: 5px 0px 5px 0px;
	color: rgba(0,0,0,0.5);
	font-family: 'Indie Flower', sans-serif;
}
.chat-content{
	font-size: 16px;
	padding-top: 6px;
	font-family: 'Indie Flower', sans-serif;
}

.button{
	text-decoration: none;
	font-weight: bold;
	text-shadow: rgba(255,255,255,.5) 0 1px 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	
	padding: .2em .2em .0em .2em;
	margin: .0em .1em .4em .0em;
	display: inline-block;
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 	8px;
	
	border-top: 1px solid rgba(255,255,255,0.8);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	
	background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) ))
	background-image: -moz-radial-gradient(top, ellipse cover, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%)
	background-image: gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) ))

	-webkit-transition: background .2s ease-in-out;
	-moz-transition: background .2s ease-in-out;
	transition: background .2s ease-in-out;
	
	color: 	hsl(0, 0%, 40%) !important;
	background-color: hsl(0, 0%, 75%);
	
	-webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
						hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */
						rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	-moz-box-shadow: 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
						hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */
						rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	box-shadow:		 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
						hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */
						rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
}
button.button{
	border-left: none;
	border-right: none;
}
button.button:hover{
	cursor: pointer;
}
img{
	width: 30px;
	height: 30px;
}
.button:hover{
	background-color: 	hsl(0, 0%, 83%);
}
.button:active{
	background-image: 	-webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0) ))
	background-image: 	-moz-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0) ))
	background-image: 	gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0) )),

	-webkit-box-shadow: inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */ 
							rgba(0,0,0,0.4) 0 .1em 1px, /* border */
							rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */
	-moz-box-shadow: 	inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */ 
							rgba(0,0,0,0.4) 0 .1em 1px, /* border */
							rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */
	box-shadow: 		inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */ 
							rgba(0,0,0,0.4) 0 .1em 1px, /* border */
							rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */

	-webkit-transform: 	translateY(.2em);
	-moz-transform: 	translateY(.2em);
	transform: 			translateY(.2em);
}
